<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>

<div class="about">
{% capture x %}
## Publications

- M. Tassano, J. Delon, and T. Veit. [FastDVDnet: Towards Real-Time Deep Video Denoising Without Flow Estimation](https://openaccess.thecvf.com/content_CVPR_2020/html/Tassano_FastDVDnet_Towards_Real-Time_Deep_Video_Denoising_Without_Flow_Estimation_CVPR_2020_paper.html). CVPR 2020, oral presentation

- M. Tassano, J. Delon, and T. Veit. [DVDnet: A Fast Network for Deep Video Denoising.](https://doi.org/10.1109/ICIP.2019.8803136) In _IEEE International Conference on Image Processing_, 2019. [Paper selected as one of the 10% papers of the conference!](http://2019.ieeeicip.org/?action=page3&id=9)

- M. Tassano, J. Delon, and T. Veit. [DVDnet: Un réseau profond pour le débruitage vidéo.](https://hal.archives-ouvertes.fr/hal-02274077/) In _XXVIIe Colloque GRETSI_, 2019

- M. Tassano, J. Delon, and T. Veit, [An Analysis and Implementation of the FFDNet Image Denoising Method](https://doi.org/10.5201/ipol.2019.231), <i>Image Processing On Line</i>, 9 (2019), pp. 1–25.

- M. Tassano, J. Delon, T. Veit, **Multiscale Denoising of Raw Images with Precise Estimation of Noise in All Scales**, Poster presented at: <i>SIAM Conference on Imaging Science</i>, Bologna, Italy, 2018

- M. Tassano, P. Monzon, J. Ramos, G. De Martino and J. Pechiar, [An inexpensive Attitude Determination system for the Uruguayan Cubesat, AntelSat](https://doi.org/10.1109/I2MTC.2014.6860837)," <i>2014 IEEE International Instrumentation and Measurement Technology Conference (I2MTC) Proceedings</i>, Montevideo, 2014, pp. 723-727

- M. Tassano, P. Monzon and J. Pechiar, [Attitude determination and control system of the uruguayan cubesat, AntelSat](https://doi.org/10.1109/ICAR.2013.6766523), <i>2013 16th International Conference on Advanced Robotics (ICAR)</i>, Montevideo, 2013, pp. 1-6.

- M. Tassano, G. Sotta, L.I. de León, G. Gutierrez, **A UKF-based Attitude Determination Approach**. Poster presented at: <i>7th European CubeSat Symposium</i>; 2015 Sep 9-11; Li&egrave;ge, Belgium

- L.I. de León, G. Sotta, M. Tassano, G. Gutierrez, **Lessons learned, Subsystem overview and Primary results from AntelSat, first Uruguayan satellite**. Poster presented at: <i>7th European CubeSat Symposium</i>; 2015 Sep 9-11; Li&egrave;ge, Belgium

## Patents

- M. Tassano, E. Coupeté, and N. Bessou. 2020. **Detection of fingers close to the lens blocking the capture** _US Patent Application Serial No. 16/781,271_, filed Feb 2020. Patent Pending

- M. Tassano, J. Delon, and T. Veit. 2019. **Burst Deblurring With Kernel Estimation Networks** _US Patent Application Serial No. 62/911,657_, filed August 2019. Patent Pending

- M. Tassano, J. Delon, and T. Veit. 2019. **A Method and Apparatus for Convolutional Neural Network-Based Video Denoising** _US Patent Application Serial No. 62/866,885_, filed June 2019. Patent Pending

- M. Tassano, J. Delon, and T. Veit. 2019. **A Method and Apparatus for Convolutional Neural Network-Based Video Denoising** _US Patent Application Serial No. 16/412,722_, filed May 2019. Patent Pending

- M. Tassano, J. Delon, and T. Veit. 2018. **Multiscale Denoising of Videos** _US 20200151854 A1_, United States Patent and Trademark Office, May 14, 2020

- M. Tassano, J. Delon, T. Veit, and M. Lebrun. 2018. **Multiscale Denoising of Raw Images With Noise Estimation** _US 20190355098 A1_, United States Patent and Trademark Office, Nov 21, 2019

## Code

- [FastDVDnet](https://github.com/m-tassano/fastdvdnet) video denoiser
- [DVDnet](https://github.com/m-tassano/dvdnet) video denoiser
- An implementation and online demo of the [FFDNet](https://www.ipol.im/pub/art/2019/231) image denoiser

## Projects

- I had the chance to be part of the [ANTELSAT](https://iie.fing.edu.uy/investigacion/grupos/lai/) project, in which we successfully built and launched the first Uruguayan satellite

{% endcapture %}{{ x | markdownify }}
</div>
